<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Artista</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <div class="container">
        <h1>Criar Artista</h1>
        <form action="/artista" method="POST">
            <div class="form-group">
                <label for="nome">Nome do Artista:</label>
                <input type="text" id="nome" name="nome" required>
            </div>

            <div class="form-group">
                <label for="discos">Discos:</label>
                <select id="discos" name="discos[]" multiple>
                    <% discos.forEach(disco => { %>
                        <option value="<%= disco.id %>"><%= disco.titulo %></option>
                    <% }); %>
                </select>
            </div>

            <div class="form-group">
                <label for="genero">Gênero Musical:</label>
                <select id="genero" name="genero[]" multiple required>
                    <option value="generico">Genérico</option>
                    <option value="blues">Blues</option>
                    <option value="country">Country</option>
                    <option value="disco">Disco</option>
                    <option value="eletronica">Eletrônica</option>
                    <option value="funk">Funk</option>
                    <option value="hiphop">Hip Hop</option>
                    <option value="indie">Indie</option>
                    <option value="jazz">Jazz</option>
                    <option value="kpop">K-pop</option>
                    <option value="metal">Metal</option>
                    <option value="musicaclassica">Música Clássica</option>
                    <option value="pop">Pop</option>
                    <option value="punk">Punk</option>
                    <option value="reb">R&B</option>
                    <option value="reggae">Reggae</option>
                    <option value="rock">Rock</option>
                    <option value="samba">Samba</option>
                    <option value="sertanejo">Sertanejo</option>
                    <option value="soul">Soul</option>
                    <option value="trap">Trap</option>
                </select>
            </div>

            <button type="submit">Salvar</button>
        </form>

        <a href="/" class="button-link">
            <button type="button">Voltar</button>
        </a>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>
    <script>
        new MultiSelectTag('genero', {
            placeholder: 'Escolha o(s) Gênero(s)'
        });
    </script>
</body>
</html>
