<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Discos</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>VMusic</h1>
        <h2>Bem-vindo!</h2>
        <div class="buttons-container">
            <a href="/artista" class="button-link">
                <button>Criar artista</button>
            </a>
            <a href="/disco" class="button-link">
                <button>Criar disco</button>
            </a>
            <a href="/catalogo" class="button-link">
                <button>Ver catálogo</button>
            </a>
        </div>
    </div>
</body>
</html>
